/* First Section */
.head {
    color: white;
    text-decoration: none;
    background-color: #1f2937;
    padding: 100px;
    padding-top: 0px;
}

.top-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    padding-top: 0px;
    margin-top: 0px;
}

#logo {
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.hero {
    padding: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 400px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.subtext {
    padding: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 400px;
    font-size: 18px;
    color: #e5e7eb;
}

button {
    border: none;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    padding: 8px 34px;
    margin-left: 100px;
    font-weight: bold;
}

.bottom-head {
    padding-top: 0px;
    display: flex;
}

#img {
    background-color: gray;
}


/* Second Section */
.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#random {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.boxes {
    display: flex;
    gap: 20px;
    /* justify-content: center; */
    /* margin: 300px; */
    /* margin-top: 0px; */
    /* margin-bottom: 0px; */
    /* padding: 300px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px; */
}
.box {
    display: flex;
    background-color: lightgreen;
    border: 16px blue;
    padding: 50px;
    margin: 20px;
    margin-bottom: 0px;
    /* justify-content: space-between; */
}

.texts {
    display: flex;
    text-align: center;
    gap: 40px;
    margin-bottom: 80px;
    /* position:relative; left: 9px; */
}

.text {
    margin-top: 10px;
    font-size: 14px;
    width: 120px;
}


/* Third Section */
.third-section {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    align-items: center;
    padding: 80px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    width: 750px;
    padding-bottom: 0px;
}

#quoted {
    display: flex;
    
}

.quoted {
    display: flex;
    align-items: flex-end;
    font-size: 20px;
}

/* Fourth Section */
.white-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    width: 900px;
    height: 200px;
}

.border {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 16px;
    padding: 20px;
}

.second-button {
    border: 2px solid white;
    border-color: white;
    background-color: #3882F6;
}

#call {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
    padding-bottom: 0px;
}


/* Fifth Section */
#footer {
    display: flex;
    background-color: #1f2937;
    height: 100px;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
}
