/* First Section */
.head {
    color: white;
    text-decoration: none;
    background-color: #1f2937;
    padding: 100px;
    padding-top: 0px;
}

.top-head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    padding-top: 0px;
    margin-top: 0px;
    gap: 450px;
}

#logo {
    font-size: 24px;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
    padding: 10px;
    gap: 16px;
}

.bottom-head {
    justify-content: center;
    gap: 50px;
}

.left {
    margin-left: -50px;
}

.hero {
    padding: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: -15px;
    width: 400px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.subtext {
    padding: 100px;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-bottom: -1px;
    width: 400px;
    font-size: 18px;
    color: #e5e7eb;
}

button {
    border: none;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    padding: 8px 34px;
    margin-left: 100px;
    font-weight: bold;
}

.bottom-head {
    padding-top: 0px;
    display: flex;
    margin-left: -50px;
}

#img {
    display: flex;
    background-color: rgba(134, 128, 128, 0.774);
    width: 500px;
    align-items: center;
    justify-content: center;
    margin-left: -100px;
}


/* Second Section */
.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#random {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

#container {
    display: flex;
    gap: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    display: flex;
    background-color: white;
    border: 4px solid #3882F6;
    border-radius: 8px;
    padding: 70px;
    margin: 15px;
    margin-bottom: -5px;
}

.text {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    width: 170px;
}


/* Third Section */
.third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    padding: 80px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 750px;
    padding-bottom: 0px;
    margin-bottom: -30px;
}

.credit {
    font-size: 24px;
    font-weight: bolder;
    text-align: right;
    margin-bottom: 20px;
}

/* Fourth Section */
.white-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    width: 1000px;
    height: 200px;
    gap: 100px;
}

.border {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 16px;
    padding: 20px;
}

.second-button {
    border: 2px solid white;
    border-color: white;
    background-color: #3882F6;
}

#call {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: -12px;
    padding-bottom: 0px;
}


/* Fifth Section */
#footer {
    display: flex;
    background-color: #1f2937;
    height: 100px;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
}
